body{
    padding : 0;
    margin : 0;
    background-color:#ecf0f1;
    font-family: 'Exo', sans-serif;

}
#container{

    width : 400px;
    border-radius: 8px 8px 0 0;
    margin : auto;
    margin-top : 50px;
    color : white;


}
.chat_head{
      background: #6579FD ;
      padding: 15px;
      border-radius: 8px 8px 0 0;
        text-align: center;
      position: relative;

}

.human:before{
  content: ' ';
  	position: absolute;
  	width: 0;
  	height: 0;
    right: -5px;
  	left: auto;
    top: 5px;
  	bottom: auto;
  	border: 8px solid;
  	border-color: #3080e8 transparent transparent transparent;
}
.bot:before{
  content: ' ';
  	position: absolute;
  	width: 0;
  	height: 0;
  left:-5px;
  right:auto;
  top: 5px;
  bottom: auto;
  border: 5px solid;
  border-color: white transparent transparent transparent;

}
#response{

      color : black;
      height : 450px;
      width: 381px;
      overflow-y: auto;
      padding-right:10px;
      padding-left: 10px;
      padding-top: 3px;
      padding-bottom: 5px;
      background-color: white;

}
.human, .bot{
      width: 328px;
      box-shadow:1px 1px 1px #808088;
     border-radius:10px;
     margin:15px;
     padding: 2px;
}
.bot{
  align: left;
  background: white;
  color:  #6579FD ;
  position: relative;


}
.human{
  align:right;
  background: #3080e8;
  color: white;
  position: relative;



}
#input{
    float : left;
    width : 395px;
    height : 40px;

}
#submit{
    float : right;
    width : 58px;
    height : 41px;
}
#close{
  cursor: pointer;
  left: 135px;
  position:relative;
}
